<!doctype html>
<html lang="en">
  <head>
    <title>Repeating Event Calculator using Flask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <h1>Repeating Event Calculator using Flask</h1>
    Add New Event<br />
    <form action="{{ url_for('add_event') }}" method="post">
      <!--form to add event-->
      Name:<input type="text" id="name" name="name" required /> Date:<input
        type="date"
        id="start_date"
        name="start_date"
        required
      />
      Repeat every:<input
        type="number"
        id="repeat_interval"
        name="repeat_interval"
        min="1"
        step="1"
        required
      />
      Repeat interval:<select id="repeat_often" name="repeat_often" required>
        <option value="1" selected>Day</option>
        <option value="2">Week</option>
        <option value="3">Month</option>
        <option value="4">Year</option>
      </select>
      <input type="submit" value="Add Event" />
    </form>
    <h1>List of Upcoming Events</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Next Event Date</th>
        <th>Actions</th>
      </tr>
      {% for event in events %}<!--repeat for each event in events list-->
      <tr>
        <td>{{ event.name }}</td>
        <td>
          {{ event.original_due_date | next_event_date(event.repeat_interval,
          event.repeat_often, event.times_completed) }}
        </td>
        <td>
          <form action="{{ url_for('complete_event', event_id=event.id) }}">
            <!--button to complete event-->
            <input type="submit" value="Complete" />
          </form>
          <form action="{{ url_for('delete_event', event_id=event.id) }}">
            <!--button to delete event-->
            <input
              type="submit"
              value="Delete"
              onclick="return {{ 'confirm(\'Are you sure you want to delete this event?\')' }}"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
